<div class="centered-header title">sudoswap</div>

<div class="centered info">
  <div class="blurb">swap <b>any basket</b> for <b>any basket</b></div>
  <div class="blurb benefits">
    <ul>
      <li>trade collections of ERC20/721/1155 tokens</li>
      <li>peer to peer, just send a link to your trading partner</li>
      <li>assets never leave your wallet until swap is completed</li>
      <li>gas-optimized, no extra fees, only pay for approves and swap</li>
    </ul>
  </div>
  <div class="swap-holder">
    <div class="asset-holder">
      <img src="{{imageList[0]}}" class="asset-img">
      <img src="{{imageList[1]}}" class="asset-img">
      <img src="{{imageList[2]}}" class="asset-img">
      <img src="{{imageList[3]}}" class="asset-img">
    </div>
    
    <div>
      <img src="./assets/swap-horizontal.svg">
    </div>

    <div class="asset-holder">
      <img src="{{imageList[4]}}" class="asset-img">
      <img src="{{imageList[5]}}" class="asset-img">
      <img src="{{imageList[6]}}" class="asset-img">
      <img src="{{imageList[7]}}" class="asset-img">
    </div>
  </div>
  <div class="swap-btn">
    <a routerLink="/create"><button class="blue-btn">Get Started</button></a>
  </div>
</div>

<div class="credits centered">Built by <a href="https://0xmons.xyz" target="_blank">0xmons</a>, powered by <a href="https://0x.org" target="_blank">0x Protocol v2</a>, audits <a href="https://protocol.0x.org/en/latest/additional/audits.html" target="_blank">here</a>. 
  <br><br>
View all completed sudoswap trades <a href="https://0xtracker.com/search?q=0x4e2f98c96e2d595a83AFa35888C4af58Ac343E44" target="_blank">here</a>.</div>